################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/packages
/DSTest.vcxproj.user
*.raw
/DSTest/x64/Debug
/DSTest/x64/Release/DSTest.tlog
/DSTest/x64/Release
